.encabezado{
    width: 95%;
    text-align:center;
    background-color: rgba(0,0,0, 0.3);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
    margin: 10px;
}

.botones{
    margin-top: 20px;
    display: flex; /* Para que los botones estén uno al lado del otro */
    gap: 20px; /* Espacio entre los botones */
    justify-content: center;
    flex-wrap: wrap; /* Para que se envuelvan en pantallas pequeñas */
}

.boton{
    background-color: #1976D2;
    color:white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.2);
}

.boton:hover{
    background-color: #5d93c9;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.mesa{
    min-height: 200px;
    width: 85%;
    background-color: rgba(0, 100, 0, 0.8); 
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
     margin-top: 20px;
     box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 10px 20px rgba(0, 0, 0, 0.4);
}

